:root {
    --mainColor: none;
    --backgroundColor01: none;
    --backgroundColor02: none;
    --gradientColor01: #00f260;
    --gradientColor02: #0575e6;
}

#app-mount .modeSelected-3DmyhH .content-1gYQeQ,
#app-mount .modeSelected-3DmyhH:hover .content-1gYQeQ,
#app-mount .wrapper-NhbLHG:hover .content-1gYQeQ {
    background-color: var(--backgroundColor01)
}

#app-mount .content-1gYQeQ {
    position: relative;
    overflow: hidden
}

#app-mount .content-1gYQeQ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--gradientColor01);
    background-image: linear-gradient(-45deg, var(--gradientColor01), var(--gradientColor02)) !important;
    -webkit-transition: transform .2s ease;
    -ms-transition: transform .2s ease;
    -o-transition: transform .2s ease;
    -moz-transition: transform .2s ease;
    transition: transform .2s ease;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

#app-mount .modeSelected-3DmyhH .content-1gYQeQ::after,
#app-mount .wrapper-NhbLHG:hover .content-1gYQeQ::after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

#app-mount .modeSelected-3DmyhH .content-1gYQeQ,
#app-mount .modeSelected-3DmyhH:hover .content-1gYQeQ,
#app-mount .wrapper-NhbLHG:hover .content-1gYQeQ {
    background-color: var(--backgroundColor01)
}

#app-mount .content-1gYQeQ {
    position: relative;
    overflow: hidden
}

#app-mount .content-1gYQeQ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--gradientColor01);
    background-image: linear-gradient(-45deg, var(--gradientColor01), var(--gradientColor02)) !important;
    -webkit-transition: transform .2s ease;
    -ms-transition: transform .2s ease;
    -o-transition: transform .2s ease;
    -moz-transition: transform .2s ease;
    transition: transform .2s ease;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

#app-mount .modeSelected-3DmyhH .content-1gYQeQ::after,
#app-mount .wrapper-NhbLHG:hover .content-1gYQeQ::after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}
