#app-mount [data-user-id="ur id"].userPopout-xaxa6l {background-color: rgba(0, 0, 0, 0.158);background-image: url(ur background image link);width: 700px!important;height: 359px!important;}
#app-mount [data-user-id="ur id"] .bodyInnerWrapper-26fQXj {background: transparent;}
#app-mount [data-user-id="ur id"] .banner-2QYc2d {background: transparent!important;}.divider-ewBQKj {display: none;}
#app-mount [data-user-id="ur id"] .bannerOverlayPopout-1clJ34, .bannerOverlay-1uIerX  {width: 900px!important;background-color: transparent;}
#app-mount [data-user-id="ur id"] .textarea-2r0oV8  {width: 900px!important;background: transparent;}
#app-mount [data-user-id="ur id"] .role-2irmRk {background-color: transparent;}
#app-mount [data-user-id="ur id"] .avatar-37jOim {border: 6px solid transparent;background-color: transparent;}
#app-mount [data-user-id="ur id"] .colorLink-2vG20E {display: none;}
#app-mount [data-user-id="ur id"] .nickname-3M3Jfa, .headerTagWithNickname-3l_x6x, .customStatus-oN4ZZY, .aboutMeSection-1Fw5Ia, .bodyTitle-1ySSKn, .headerTopWithCustomStatus-1DHAjX{text-align: center!important;}
#app-mount [data-user-id="ur id"] .avatarPositionNormal-aZjAsn {margin-left: 290px;}
#app-mount [data-user-id="ur id"] .aboutMeTitle-1IYtPE {margin-left: 300px;}