.panels-j1Uci_ > .container-3baos1 .flex-1xMQg5 > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}

.panels-j1Uci_ > .container-3baos1:hover .flex-1xMQg5 > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}