.roleName-2IkRdr {
    z-index: 1
}

.item-PXvHYJ>.roleDot-ZwSovK::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: inherit;
    opacity: 0.15;
    top: 0;
    left: 0;
    border-radius: 4px;
}
