.tipTitle-3FYEQp{content:"";font-size: 0px;}
.tipTitle-3FYEQp::before{content:"Hey...";font-size: 12px;}
.tip-1AwED_{content:"";font-size: 0px;}
.tip-1AwED_::before{content: "You're Offline :c";font-size: 16px;}
.problems-CvGwpb.slideIn-VAD-dp, .tip-1AwED_ > .keybindShortcut-3zF1P9.keybind-2rkdVo{display:none;}
.container-2RRFHK.fixClipping-3GOd_d{background:rgba(0, 0, 0, 0.1);backdrop-filter: blur(5px);}