/**
 * @name 04-Themes V3
 * @author ChongZhiJie#0216
 * @version 1.2.0
 * @description Created by ChongZhiJie#0216 
 * @authorId 319445690700922880
 * @source https://github.com/ChongZhiJie0216/04-Theme
 * @updateUrl
*/
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Core/Channel-List.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Core/Color-Status.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://xhylo.github.io/BetterSettings/BetterSettings.css);
@import url(https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Core/Settings-Animated.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Core/Removes-Chatbox-Channel-Communicate.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css);
@import url(https://maendisease.github.io/BetterDiscordStuff/css/wellThisIsAwkwardSoTryThis.css);
@import url(https://neodymium7.github.io/BetterDiscordStuff/CSS/AddServerDarkMode.css);
/*@import url(https://maendisease.github.io/BetterDiscordStuff/css/storeCSS.css);*/


/*Extention*/
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Extention/Disable-Mirror-Your-Camera.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Extention/Embed-Redesign.css);

:root {
    /*ServerColumns*/
    --columns: 2;
    --guildsize: 50;
    --guildgap: 2;
    --aligndms: 1;
    /*RadialStatus*/
    --rs-small-spacing: 2px;
    --rs-medium-spacing: 3px;
    --rs-large-spacing: 4px;
    --rs-small-width: 2px;
    --rs-medium-width: 3px;
    --rs-large-width: 4px;
    --rs-avatar-shape: 50%;
    --rs-online-color: #43b581;
    --rs-idle-color: #faa61a;
    --rs-dnd-color: #f04747;
    --rs-offline-color: #636b75;
    --rs-streaming-color: #643da7;
    --rs-invisible-color: #747f8d;
    --rs-phone-color: var(--rs-online-color);
    --rs-phone-visible: block;
    /*Setting-Layer*/
    --width2: 60%;
    --height2: 85%;