/**
* @name NotAnotherAnimeTheme
* @author puckzxz#2080
* @version 3.2
* @description An easily customizable and automatically updating theme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
* @updateUrl https://raw.githubusercontent.com/puckzxz/NotAnotherAnimeTheme/master/NotAnotherAnimeTheme.theme.css
*/
/* @import url(https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css); */

@import url(https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Core/Channel-List.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);
@import url(https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://xhylo.github.io/BetterSettings/BetterSettings.css);
/*Extention*/
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Extention/Disable-Mirror-Your-Camera.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Extention/Embed-Redesign.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Extention/Role-Color-Background-Member-List.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Extention/Role-Color-Background-Role-Management.css);
@import url(https://chongzhijie0216.github.io/04-Theme/CSS/Extention/Role-Color-Background-User-Roles.css);
/* Any images you use MUST end with .jpg or .png or any other image extension */
:root {
  /*ServerColumns*/
  --columns: 2;
  --guildsize: 50;
  --guildgap: 2;
  --aligndms: 1;
  /*RadialStatus*/
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 3px;
  --rs-large-spacing: 4px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-color: var(--rs-online-color);
  --rs-phone-visible: block;
  /*CoreCSS*/
  --background-image: url('https://i.imgur.com/dPWyhZZ.jpeg');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: var(--background-image);
  --popout-image-blur: 5px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 0px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.75;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 0px;
  --window-roundness: 5px;
  --update-notice-1: none;
}